  <nav>
            <ul>
                <li>
                    <img src="../images/logo.png" class="imagesmall" alt="Logo">
                </li>
            </ul>
            
        </nav>
        