<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1>Deleting Account</h1>
<p>Are you sure you want to delete your account? </p>
<form action="/deleteAccount" method="POST">
  <label>Retype your email to delete your account<input name=email></label>
  <button type="submit">Delete account</button>
</form>


<%- include('../partials/tail') %>