<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<%- include('../partials/tail') %>