<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1>Hi Traveler</h1>

<form action="">
  <button type="submit" class="button4"><a href="/update">Change your name</a></button>
</form>

<form action="">
  <button type="submit" class="button4"><a href="/delete">Delete account</a></button>
</form>
<%- include('../partials/tail') %>