<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/style.css">
    <%- include('../partials/head') %>
</head>

<body id="Registreren">

    <header>
        <%- include('../partials/header') %>
    </header>

    <section>
      <article class="overlap">
    <h1 id="topofpage">Begin met reizen</h1>
    <a href="../pages/home.ejs"><button type="button" class="account">Account aanmaken</button></a> 
      </article>
  </section>


</form>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

<script src="../script/index.js"></script>

</html>