    <%- include('../partials/head') %>
    <%- include('../partials/header') %>
    <title>Travel Date</title>

    <li>
        <button id='button1'><a href="/login">Log in</a></button>
    </li>
    
    <section>
      <article class="overlap">
    <h1>Begin met reizen</h1>
    <a href="/registreren"><button type="button" class="account">Account aanmaken</button></a> 
      </article>
  </section>

    <%- include('../partials/tail') %>
