    <%- include('../partials/head') %>
    <%- include('../partials/header') %>
    <title>Travelbuddy</title>

    <li>
        <button id='button1'><a href="/login">Log in</a></button>
    </li>
    
    <section>
      <article class="overlap">
    <h1>Start Traveling</h1>
    <a href="/register"><button type="button" class="account">Sign up</button></a> 
      </article>
  </section>

    <%- include('../partials/tail') %>
