    <%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <title>Login</title>
    <h1>Login</h1>

    <form action="/loginUser" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    
    <button type="submit" class="button2"><a href="/register">Don't have an account yet? Register!</a></button>
 
    
<%- include('../partials/tail') %>
