    <%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <title>Login</title>
    <h1>Login</h1>

    <form action="/login" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div>
        <label for="password">password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
      <button type="submit"><a href="/register">Register</a></button>
    </form>
 
    
<%- include('../partials/tail') %>
