    <%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <title>Log in</title>
<form>
    <fieldset>
        <legend> Log in </legend>
 
        <label for="email">E-mail</label>
        <input type="email" name="pepijnkok@gmail.com" id="email" required type="email" placeholder="voorbeeld@gmail.com">

        <label for="telefoon">Wachtwoord</label>
        <input type="password" name="wachtwoord" id="wachtwoord" minlength="6" placeholder="Jouw wachtwoord">
    </fieldset>

    <button type="submit">Registreren</button>

</form>

<%- include('../partials/tail') %>
