<%- include('../partials/head') %>
<%- include('../partials/header') %>

<title>Log in</title>
<form>
<fieldset>
    <legend> Registreren </legend>
    <label for=" voornaam">Voornaam</label>
    <input type="text" name="Pepijn" required id="voornaam" placeholder="Voornaam">

    <label for="achternaam">Achternaam</label>
    <input type="text" name="Kok" required id="achternaam" placeholder="Achternaam">

    <label for="email">E-mail</label>
    <input type="email" name="pepijnkok@gmail.com" id="email" required type="email" placeholder="voorbeeld@gmail.com">

    <label for="telefoon">Telefoon Nummer</label>
    <input type="tel" name="tel" id="telefoon" maxlength="14" placeholder="06 12 34 56 78">
</fieldset>

<button type="submit">Registreren</button>

</form>
   
<%- include('../partials/tail') %>
