<%- include('../partials/head') %>
<%- include('../partials/header') %>

<title>Registeren</title>
<h1>Registreren</h1>

<form action="/registreren" method="POST">
  <div>
    <label for="name">Naam</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Wachtwoord</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Registreren</button>
</form>
<a href="/login">Login</a>
   
<%- include('../partials/tail') %>
