<%- include('../partials/head') %>
<%- include('../partials/header') %>

<title>Log in</title>
<form>
<fieldset>
    <legend> Registreren </legend>
    <label for=" voornaam">Naam</label>
    <input type="text" name="naam" required id="voornaam" placeholder="Naam">

    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" required type="email" placeholder="E-mailadres">

    <label for="telefoon">Wachtwoord</label>
    <input type="password" name="wachtwoord" id="wachtwoord" minlength="6" placeholder="Wachtwoord">

    <label for="telefoon">Bevestig Wachtwoord</label>
    <input type="password" name="bevestig wachtwoord" id="bevestigwachtwoord" minlength="6" placeholder="Bevestig wachtwoord">
</fieldset>

<button type="submit">Registreren</button>

</form>
   
<%- include('../partials/tail') %>
