<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1>Pepijn</h1>
<form action="home">
    <input type="text">
  <button type="submit">Update your name</button>
</form>

<form action="goBack">
    <button type="submit">Go back</button>
  </form>

<%- include('../partials/tail') %>