*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: catamaran;
    background-image:url(/images/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1em;

}

h1 {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    font-size: 4vw;
    font-family: catamaran;
    color: white;
    z-index: 1;
    text-align: center;
    margin-bottom: .2em;
}

/* form */
form {
    max-width: 35em;
    margin: auto;
    padding: 2em;
    margin-bottom: 2em;

    display: grid;
    grid-gap: 1em;

    background-color:rgba(255, 255, 255, .9);

    border-radius: 0.1em;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-weight: bold;
    font-size: 2em;
    color: #0D0D0D;
    padding: 0 0 1.5rem 0;
}

label {
    display: block;
    color: #0D0D0D;
    font-family: ;
    padding: 0 0 .5rem 0;
}

input,
textarea {
    width: 100%;
    padding: 1em;
    margin: 0 0 1.5em;
    border-color: #3654a5;
    border-radius: 2em;
    outline: none;
}

button {
    font-family: catamaran;
    height: 2.5em;
    display: block;
    color: white;
    font-weight: 400;
    outline: none;
    font-size: 1.1em;
    border: none;
    border-radius: 1em;
    background-color: #3654a5;
}

.button2 {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    display: block;
    width: 34%;

    background-color: #252525;
}

.button3 {
    margin-left: auto;
    margin-right: 2em;
    margin-bottom: 2em;

    display: block;

    width: 7%;
}

/* main */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 1em 0 0 2em;
}

li {
    list-style: none;
    }

.overlap {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 60% 20% 20% 50% ;
    margin-bottom: 3em;
    padding: 0;
}

a {
    display: grid;
    grid-column: 3 / 3;
    grid-row: 8 / 8;
    font-family: catamaran;
    color: white;
    z-index: 1;
    text-align: center;
    text-decoration: none;
}

p {
    font-size: 2em;
    color: white;
    text-align: center;
}

.imagesmall {
    height: auto;
    width: 10em;
}
